
@keyframes moveInLeft {
  0%
  {
    margin-top: 1.5rem;
    opacity: 0;
    transform: translateX(-10rem) rotate(0);
  }

  80%
  {

    transform: translateX(2rem);
  }

  100%
  {
    margin-top: 0;
    transform:   translateX(0);
    opacity: 1;
  }
}



@keyframes moveInRight {
  0%
  {
    margin-top:-1.5rem;
    opacity: 0;
    transform: translateX(10rem);
  }

  80%
  {

    transform: translateX(-2rem);
  }

  100%
  {
    margin-top: 0;
    transform: translateX(0);
    opacity: 1;
  }
}



@keyframes moveInBottom {
  0%
  {
    opacity: 0;
    transform: translateY(10rem);
  }

  100%
  {
    transform: translateY(0);
    opacity: 1;
  }
}
